<div class="container mt-10">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Forgot Password</h5>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email" required>
                            <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.touched)" class="text-danger">
                                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is required.</div>
                                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Email is not valid.</div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" [disabled]="(isLoading$ | async)"> <!-- Disable button if loading -->
                            <span *ngIf="(isLoading$ | async)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span *ngIf="!(isLoading$ | async)">Send Reset Link</span>
                        </button>
                    </form>
                    <div class="text-center mt-3">
                        <p>Remembered your password? <a routerLink="/login" class="text-muted">Login</a></p>
                        <p>Don't have an account? <a routerLink="/register" class="text-muted">Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>