body {
    background-color: #f8f9fa !important;
  }
.container {
    background-color: #f8f9fa;
  }
  
  .card {
    border-radius: 1rem;
  }
  
  .card-title {
    font-weight: bold;
    color: #343a40;
  }
  
  .text-danger {
    font-size: 0.875rem;
  }
  .mt-10 {
    margin-top: 10rem !important;
  }
  